.navbar {
  background-color: #647C4C; 
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #40413F; 
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
}

.navbar-logo h1 {
  font-size: 1.8rem;
  color: #40413F;
}

.navbar-logo span {
  font-size: 1.5rem;
}
.navbar-logo a{
  text-decoration: none; /* Removes the underline */

}
.navbar-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.navbar-links a {
  text-decoration: none; /* Removes the underline */
  font-size: 1em;
  font-weight: bold;
  color: #651b81;
}
.navbar-links a:hover{
  color: #651b81;
}

.navbar-icons {
  display: flex;
  align-items: center;
  gap: 20px;
}
.navbar-icons a{
  text-decoration: none; /* Removes the underline */

}
.cart-icon {
  position: relative;
  font-size: 1.5rem;
  color: #333;
  cursor: pointer;

}
.cart-icon span{
  position: absolute;
  top: -8px;
  right: -10px;
  background-color: red; /* Badge background color */
  color: white; /* Badge text color */
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 0.75rem; /* Adjust font size of the item count */
  font-weight: bold;
}

.signin-btn {
  padding: 10px 20px;
  background-color: #f39c12; 
  color: white;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}
